* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #777 !important;
}
nav {
  z-index: 5000;
}
.logo::after {
  position: absolute;
  background-color: rgba(253, 251, 251, 0.503);
  height: 78%;
  width: 1px;
  top: 5px;
  right: -11px;
  content: "";
}
.logo {
  transition: 0.4s;
}
.logo:hover {
  text-shadow: 10px 10px 20px white, -10px -10px 20px white;
}
.dropdown-menu li a {
  text-shadow: 1px 1px 0px black;
  color: #ccccff !important;
}
.carousel img {
  height: 550px !important;
}
.carousel-caption {
  background-color: rgba(255, 255, 255, 0.371);
}
.carousel a {
  opacity: 1;
}
.accordion-button:hover {
  background-color: #000000f1 !important;
  color: white;
  z-index: -1;
}
.picture {
  background-image: url(../imgs/2.jpg) !important;
  background-size: cover;
  height: 250px !important;
  background-attachment: fixed;
}
.courses .card img {
  height: 265px;
  width: 265px;
}
.pic2 {
  background-image: url(../imgs/3.jpg) !important;
}
.thaks-section,
.join-section {
  background-color: rgba(85, 85, 85, 0.665);
}
.join-section .card img {
  width: 30px;
  height: 30px;
  margin: auto;
}
footer .col-md-3 img {
  width: 30px;
  height: 30px;
}
.custom-tooltip {
  color: #ccccff;
}
.code span {
  font-size: 14px;
  width: 70px;
  left: -14px;
  bottom: -60px;
  transition: 0.5s;
  transform: translateX((-50%)) !important;
  opacity: 0;
}
.code span::before {
  content: "";
  border-radius: 0.3rem;
  position: absolute;
  top: -17px;
  left: 25px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}
.code .button-s:hover span {
  opacity: 1;
}
